@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
}

.body {
  font-family: "Open Sans", sans-serif;
}

.fz-1 {
  font-size: 12px !important;
}

.fz-2 {
  font-size: 13px !important;
}

.fz-3 {
  font-size: 14px !important;
}

.fz-4 {
  font-size: 15px !important;
}

.w-20 {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  flex: 0 0 20%;
  max-width: 20%;
}

hr {
  border-color: rgba(0, 0, 0, 0.1);
}

.text-success {
  color: #04b250 !important;
}

.text-warning {
  color: #fec24b !important;
}

.text-dark {
  color: #777 !important;
}

.text-body {
  color: #888 !important;
}

.text-light {
  color: #ccc !important;
}

.text-lblack {
  color: #555 !important;
}

.text-black {
  color: #193136 !important;
}

.bg-success {
  background-color: #04b250 !important;
}

.bg-warning {
  background-color: #fec24b !important;
}

.btn-warning {
  background-color: #fec24b;
  color: #fff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:disabled {
  color: #fff;
}

.btn-light {
  background-color: #f2f2f2;
  color: #777;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light:disabled {
  color: #777;
}

.btn-social {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 31px;
  background-color: #999;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #999;
}

.btn-social:hover{
   text-decoration: none;
  transition: all 0.3s ease;
  background-color: #235bb8 ;
  
}

.font-weight-bolder {
  font-weight: 900 !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-dashed {
  border: 2px dashed #ddd;
}

.wow-hidden {
  visibility: hidden;
}

.v-line {
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
  height: 30px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-default {
  padding: 40px 0;
  background-color: #fff;
}
.bg-default .title, .bg-default .subtitle {
  color: #193136;
  font-weight: 900;
}
.bg-default .body, .bg-default .card-text {
  color: #888;
  font-size: 14px;
}

.breadcrumb {
  background-color: #fff;
  padding: 0.75rem 0;
}
.breadcrumb .breadcrumb-item.active {
/*  color: #04b250;*/
  color: #fec24b ;
}
.breadcrumb .breadcrumb-item a {
  color: #193136;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  font-family: "FontAwesome";
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  color: #888;
  content: "\F105";
  font-weight: 400;
}

.pagination .page-item.active .page-link {
  background-color: #fec24b;
  border-color: #fec24b;
  
  color: #fff;
}
.pagination .page-item .page-link {
  color: #fec24b;
}

.form-wizard {
  position: relative;
  margin: 5rem 0;
}
.form-wizard .nav-pills > li > a {
  z-index: 1;
  opacity: 1;
  position: relative;
  display: block;
}
.form-wizard .nav-pills > li > a .step {
  width: 36px;
  line-height: 28px;
  height: 36px;
  border-radius: 50%;
  border: 0.5rem solid #f1f1f1;
  background: #ccc;
  color: #888da8;
  display: inline-block;
}
.form-wizard .nav-pills > li > a .title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  color: #888;
}
.form-wizard .nav-pills > li > a.active {
  background-color: transparent;
  border-color: transparent;
  color: #888da8;
}
.form-wizard .nav-pills > li > a.active .step {
  background-color: #fec24b;
  color: #ffffff;
}
.form-wizard .nav-pills .nav-item {
  width: auto !important;
  border: 0 !important;
}
.form-wizard .progress {
  position: absolute;
  display: inline-block;
  top: 12px;
  left: 0;
  right: 0;
  margin: auto;
  height: 0.75rem;
  border-radius: 0;
  background-color: #f1f1f1;
}
.form-wizard .tab-content .card .card-body .title, .form-wizard .tab-content .card .card-body .subtitle {
  font-size: 15px;
}
.form-wizard .tab-content .card .card-body .card-text {
  font-size: 15px;
  color: #777;
}
.form-wizard .tab-content .card .card-body .card-link {
  font-size: 14px;
}
.form-wizard .tab-content .card .card-body .body p {
  font-size: 14px;
  color: #888;
}
.form-wizard .tab-content .card .card-body label {
  color: #888;
}
.form-wizard .tab-content .card .card-body .form-control.error {
  border-color: #ff3c7e;
  background-color: #ffeff4;
}
.form-wizard .tab-content .card .card-body .form-control.valid {
  border-color: #37c936;
  background-color: #ebfaeb;
  color: #278d26;
}
.form-wizard .tab-content .card .card-body label.error {
  color: #ff3c7e;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
}

.table-p-1 tbody tr td {
  padding: 1.15rem 1rem !important;
}

.table-1 thead th {
  border: 0;
}
.table-1 tbody tr {
  font-size: 13px;
}
.table-1 tbody tr:nth-of-type(odd) {
  background-color: rgba(117, 218, 27, 0.1);
}
.table-1 tbody tr td {
  border: 0;
}

.table-2 {
  color: #777;
}
.table-2 thead th {
  border: 0;
  background-color: rgba(117, 218, 27, 0.1);
}
.table-2 tbody tr {
  font-size: 13px;
}
.table-2 tbody tr td {
  border-top: 0;
  border-bottom: 1px solid #dee2e6;
  padding: 2.25rem 1rem 1.25rem;
}

.table-3 thead th {
  border: 0;
  border: 4px solid #fff;
  background-color: rgba(117, 218, 27, 0.1);
  font-weight: 400;
  font-size: 14px;
}
.table-3 tbody {
  color: #777;
}
.table-3 tbody tr {
  font-size: 13px;
}
.table-3 tbody tr td {
  border-top: 0;
  border-bottom: 1px solid #dee2e6;
  padding: 2.25rem 1rem 1.25rem;
}

.table-4 {
  color: #777;
}
.table-4 thead th {
  border: 0;
  background-color: rgba(117, 218, 27, 0.1);
  font-size: 14px;
}
.table-4 tbody tr {
  font-size: 13px;
}
.table-4 tbody tr td {
  border-top: 0;
  border-bottom: 1px solid #dee2e6;
  padding: 2.25rem 1rem 1.25rem;
}

.alert-success {
  background-color: rgba(117, 218, 27, 0.15);
}
.alert-success .fas {
  color: rgba(2, 89, 40, 0.4);
  font-size: 50px;
}
.alert-success .border-right-2 {
  border-right: 2px solid #ccc;
}
.alert-success p {
  color: rgba(2, 89, 40, 0.5);
  font-size: 13px;
}

.alert-warning {
  background-color: rgba(254, 194, 75, 0.3);
}
.alert-warning .fas {
  color: #e8ad39;
  font-size: 50px;
}
.alert-warning p {
  color: #e8ad39;
  font-size: 15px;
}

/**Custom Radio Button**/
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkround {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-color: #888;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.radio input:checked ~ .checkround {
  border-color: #04b250;
}

.checkround:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkround:after {
  display: block;
}
.radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #04b250;
}

/* The check */
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-color: #888;
  border-style: solid;
  border-width: 2px;
}

.check input:checked ~ .checkmark {
  background-color: #04b250;
  border-color: #04b250;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid;
  border-color: #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/**top bar**/
.top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* caret style */
  /* dropdown style */
}
.top-bar.topBar-dark {
  /*position: absolute;
  top: 0;
  left: 0;*/
  width: 100%;
  /*background: linear-gradient(to right, #fff 40%, #04b250 100%);*/
  padding: 15px 0;
}
.top-bar.topBar-dark .right, .top-bar.topBar-dark .left {
  color: #193136;
  font-size: 12px;
  font-weight: 700;
}
.top-bar .social-icon-sm {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 31px;
  /* background-color: #fff; */
  /* color: #04b250; */
  color: #ffffff;
  float: left;
  display: block;
  text-align: center;
}
.top-bar .social-icon-sm:hover {
  text-decoration: none;
 
}


.top-bar .socials {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 31px;
  background-color: #fff;
  color: #029dfc;
  float: left;
  display: block;
  text-align: center;
}
.top-bar  .socials:hover {
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: #235bb8 ;
  color: #fff;
}


/*.top-bar .social-icon-sm i {
  transition: all 0.3s ease;

}*/
.top-bar .dropdown {
  position: relative;
}
.top-bar .dropdown .dropdown-menu {
  position: absolute;
  top: 5px !important;
  left: -30px !important;
  border-color: #fec24b;
  background-color: #fec24b;
  border-radius: 50px;
  padding: 0.25rem;
}
.top-bar .dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 0 1.25rem;
  font-size: 13.5px;
}
.top-bar .dropdown .dropdown-menu .dropdown-item:hover, .top-bar .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
}
.top-bar .dropdown .dropdown-toggle:after {
  border: 0;
  margin: 0;
}
.top-bar .caret {
  position: relative;
  display: inline-block;
}
.top-bar .dropdown.show .caret:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.top-bar .dropdown.show .caret:after {
  bottom: -19px;
  right: -2px;
  border-bottom-color: #fec24b;
}

.nav-sticky.nav-stick-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-animation: fadeInDown 0.3s ease-out forwards;
          animation: fadeInDown 0.3s ease-out forwards;
}

.wsmainfull, .wsmobileheader, .copyright {
  background: linear-gradient(-45deg, #029dfc 15%, #0119f5 60%);
}

.wsmenu > .wsmenu-list > li {
transition: .5s; 
}

.wsmenu > .wsmenu-list > li > a:hover {
  color: #fec24b;
}
.wsmenu > .wsmenu-list > li > a.active {
  border-bottom: 4px solid #fec24b;
  color: #fec24b;
}
.wsmenu > .wsmenu-list .wsmegamenu {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.wsmenu > .wsmenu-list .wsmegamenu .col-sm-3 {
  min-height: 350px;
}
.wsmenu > .wsmenu-list .wsmegamenu .link-list .link a:hover {
  color: #fec24b !important;
  transition: 3s; 
}
.wsmenu > .wsmenu-list .wsmegamenu .nav-pills .nav-item .nav-link {
  padding: 1rem 1rem 1rem 2rem !important;
  font-size: 15px !important;
  color: #193136 !important;
  font-weight: 700;
}
.wsmenu > .wsmenu-list .wsmegamenu .nav-pills .nav-item .nav-links::after {
  font-family: "Font Awesome 5 Free";
  content: "\F105";
  float: right;
  font-size: 24px;
  margin-top: -7px;
  font-weight: 900;
}
.wsmenu > .wsmenu-list .wsmegamenu .nav-pills .nav-item .nav-link.active {
  border-radius: 0;
  border: 0 !important;
  background-color: rgba(0, 0, 0, 0.05);
  color: #fec24b !important;
}
.wsmenu > .wsmenu-list .wsmegamenu .nav-pills .nav-item .nav-link:hover {
  color: #fec24b !important;
}
.wsmenu > .wsmenu-list .wsmegamenu .tab-content .active {
  border: 0 !important;
}
.wsmenu > .wsmenu-list .wsmegamenu .tab-content .tab-pane .title {
  padding: 15px 30px !important;
  height: auto !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
  font-weight: 700;
}
.wsmenu > .wsmenu-list .wsmegamenu .tab-content .tab-pane .title a {
  font-size: 15px;
}
.wsmenu > .wsmenu-list .wsmegamenu .tab-content .tab-pane .link {
  padding: 5px 30px !important;
}
.wsmenu > .wsmenu-list .wsmegamenu .tab-content .tab-pane .link a {
  color: #888 !important;
  text-decoration: none;
}

@media (max-width: 1015px) {
  .wsmainfull .desktoplogo {
    padding-top: 1rem;
  }
  /*.wsmainfull .desktoplogo img {
    height: 30px;
  }*/
  .wsmainfull .justify-content-between {
    justify-content: center !important;
  }
  .wsmainfull .wsmenu > .wsmenu-list > li > a {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .wsmainfull .wsmenu > .wsmenu-list > li > .wsmegamenu {
    /*top: 168px;*/
    width: 100%;
    left: 0;
  }
}
@media (max-width: 1015px) and (max-width: 991px) {
  .wsmainfull .wsmenu > .wsmenu-list > li > .wsmegamenu {
    top: 0;
  }
}
@media (max-width: 991px) {
  .wsmainfull .wsmenu > .wsmenu-list > li > a {
    margin-bottom: 0;
  }

  .hidden-lg-down {
    display: none;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none;
  }
}
.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.inner-share .jssocials-shares {
  margin: 0;
}
.inner-share .jssocials-shares .jssocials-share {
  display: inline-block;
}

.advisory {
  position: relative;
}
.advisory .owl-nav {
  position: absolute;
  top: 0;
  right: -50px;
}
.advisory .owl-nav i {
  font-size: 18px;
}
.advisory .item {
  font-size: 12px;
}

.slider,
.video {
  position: relative;
}

@media (min-width: 992px) {
  .slider .items .socials,
  .video .items .socials {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 99;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .share .jssocials-share-link {
    background: #04b250;
    border-radius: 50%;
  }
  .share .jssocials-share-link i {
    color: #fec24b;
  }
  .share .jssocials-share-link:hover i {
    color: #fff;
  }
  .share .jssocials-share {
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .share {
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 99;
  }
  .share .jssocials-share {
    margin-bottom: 5px;
  }
}
.slider .items .caption,
.video .items .caption {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 150px;
  color: #fff;
  width: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.slider .items .caption .title,
.video .items .caption .title {
  font-size: 4.5vw;
  font-weight: 700;
}
.slider .items .caption .h-line,
.video .items .caption .h-line {
  width: 100%;
  height: 5px;
  background-color: #fff;
}
.slider .items .caption .subtitle,
.video .items .caption .subtitle {
  font-size: 18px;
  text-transform: uppercase;
}
.slider .items .caption.active-slide,
.video .items .caption.active-slide {
  visibility: visible;
}
@media (max-width: 991px) {
  .slider .items .caption,
  .video .items .caption {
    top: 25%;
    left: 10%;
    width: 90%;
  }
  .slider .items .caption .title,
  .video .items .caption .title {
    font-size: 40px;
    font-weight: 700;
  }
  .slider .items .caption .h-line,
  .video .items .caption .h-line {
    height: 3px;
  }
  .slider .items .caption .subtitle,
  .video .items .caption .subtitle {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .slider .items .caption .title,
  .video .items .caption .title {
    font-size: 26px;
    font-weight: 700;
  }
}
.slider .items .scroll-down,
.video .items .scroll-down {
  visibility: hidden;
  position: absolute;
  top: 40%;
  right: -120px;
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}
.slider .items .scroll-down a,
.video .items .scroll-down a {
  text-decoration: none;
  color: #fff;
}
.slider .items .scroll-down.active-slide,
.video .items .scroll-down.active-slide {
  visibility: visible;
}

.pt-header {
  margin-top: 142px;
}

@media (max-width: 1015px) {
  .pt-header {
    margin-top: 168px;
  }
}
@media (max-width: 991px) {
  .pt-header {
    margin-top: 65px;
  }
}
.apply-now.card {
  background-color: #fec24b;
  width: 450px;
  margin-top: -50px;
}
.apply-now .card-body {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.apply-now .card-body i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 32px;
}

@media (max-width: 991px) {
  .apply-now.card {
    width: 100%;
    margin: 0 0 20px;
  }
}
.our-products .products-owl .item {
  margin: 40px 0;
}
.our-products .products-owl .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.3s ease;
}
.our-products .products-owl .item img {
  width: 65%;
}
.our-products .products.card {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .our-products .products.card .card-header .title-container {
    min-height: 48px;
  }
  .our-products .products.card .card-body .card-title {
    min-height: 42px;
  }
  .our-products .products.card .card-body .card-text {
    min-height: 54px;
  }
}
.our-products .products.card .card-body .card-title {
  font-weight: 400;
  font-size: 14px;
}
.our-products .products.card .card-body .card-text {
  font-size: 400;
  font-size: 12px;
}
.our-products .products.card .card-body .login-here {
  font-weight: 700;
  font-size: 14px;
}

.our-products {
  position: relative;
}
.our-products .products-owl .owl-nav {
  color: #fec24b;;
  font-size: 30px;
  font-weight: 700;
}
.our-products .products-owl .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  left: -25px;
}
.our-products .products-owl .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  right: -25px;
}

@media (max-width: 767px) {
  .our-products .products-owl .owl-nav .owl-prev {
    position: absolute;
    top: 93%;
    left: 45%;
  }
  .our-products .products-owl .owl-nav .owl-next {
    position: absolute;
    top: 93%;
    right: 45%;
  }
}

.featured-promos .promos-owl {
  position: relative;
}
.featured-promos .promos-owl .owl-nav {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.featured-promos .promos-owl .owl-nav .owl-prev {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90px;
  height: 49.9%;
}
.featured-promos .promos-owl .owl-nav .owl-next {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90px;
  height: 49.9%;
}
.featured-promos .promos-owl .item {
  position: relative;
}
.featured-promos .promos-owl .item .caption {
  width: 55%;
  position: absolute;
  top: 50%;
  right: -17%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.featured-promos .promos-owl .item .caption .title {
  color: #fff;
  font-size: 2.2vw;
  font-weight: 700;
  text-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}
.featured-promos .promos-owl .item .caption .subtitle {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 700;
  text-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}
.featured-promos .promos-owl .item .caption .body {
  color: #193136;
  font-size: 15px;
  font-weight: 600;
}
.featured-promos .promos-owl .item .caption .btn-secondary {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 900;
  font-size: 15px;
}
.featured-promos .promos-owl .item .caption .btn-secondary i {
  font-size: 18px;
}
@media (max-width: 991px) {
  .featured-promos .promos-owl {
    padding-left: 0;
    padding-right: 0;
  }
  .featured-promos .promos-owl .owl-nav {
    font-size: 25px;
  }
  .featured-promos .promos-owl .owl-nav .owl-prev, .featured-promos .promos-owl .owl-nav .owl-next {
    width: 75px;
    right: 0;
  }
  .featured-promos .promos-owl .item .caption {
    right: -15%;
  }
  .featured-promos .promos-owl .item .caption .title {
    font-size: 26px;
  }
  .featured-promos .promos-owl .item .caption .subtitle {
    font-size: 18px;
  }
  .featured-promos .promos-owl .item .caption .body {
    font-size: 13px;
  }
  .featured-promos .promos-owl .item .caption .btn-secondary {
    font-size: 13px;
  }
  .featured-promos .promos-owl .item .caption .btn-secondary i {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .featured-promos .promos-owl .owl-nav {
    font-size: 20px;
  }
  .featured-promos .promos-owl .owl-nav .owl-prev, .featured-promos .promos-owl .owl-nav .owl-next {
    width: 50px;
  }
  .featured-promos .promos-owl .item .caption {
    width: 90%;
    right: 5%;
    left: 5%;
    top: 30%;
    bottom: 5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .featured-promos .promos-owl .item .caption .title {
    font-size: 20px;
  }
  .featured-promos .promos-owl .item .caption .subtitle {
    font-size: 14px;
  }
  .featured-promos .promos-owl .item .caption .body {
    font-size: 12px;
  }
  .featured-promos .promos-owl .item .caption .learn-more {
    font-size: 13px;
  }
  .featured-promos .promos-owl .item .caption .learn-more i {
    font-size: 14px;
  }
}
.featured-promos .v-line-1, .featured-promos .v-line-2 {
  background-color: #04b250;
  /*opacity: 0.5;*/
}
.featured-promos .v-line-1 {
  position: absolute;
  left: 0;
  width: 50px;
}
.featured-promos .v-line-2 {
  position: absolute;
  right: 0;
  width: 35px;
}
.featured-promos .date-time .title {
  color: #888;
  font-weight: 400;
  font-size: 18px;
}
.featured-promos .date-time .time {
  font-size: 3vw;
}
.featured-promos .date-time .date {
  font-size: 18px;
}
@media (max-width: 991px) {
  .featured-promos .date-time .time {
    font-size: 58px;
  }
}
.featured-promos .img-logo {
  width: 100%;
}
@media (max-width: 991px) {
  .featured-promos .img-logo {
    width: auto;
  }
}

.whats-new .learn-more, .featured-products .learn-more {
  font-weight: 700;
  font-size: 13px;
}
.whats-new .whats-new-owl .item, .featured-products .whats-new-owl .item {
  position: relative;
}
.whats-new .whats-new-owl .item .title, .featured-products .whats-new-owl .item .title {
  font-weight: 700;
}
.whats-new .whats-new-owl .item .category, .featured-products .whats-new-owl .item .category {
  position: absolute;
  top: 20px;
  left: 7%;
  width: 85%;
  background-color: #fbba1f;
  padding: 7.5px;
}
.whats-new .whats-new-owl .item .category .title, .featured-products .whats-new-owl .item .category .title {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}

.foreign-exchange-rate .rate.card {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}
.foreign-exchange-rate .rate.card .card-body .border-right, .foreign-exchange-rate .rate.card .card-body .border-bottom, .foreign-exchange-rate .rate.card .card-body .border-left {
  border-color: rgba(0, 0, 0, 0.125) !important;
}
.foreign-exchange-rate .rate.card .card-body .title {
  font-weight: 700;
}
.foreign-exchange-rate .rate.card .card-body .subtitle {
  color: #888;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 991px) {
  .foreign-exchange-rate .rate.card .card-body .border-right {
    border: 0;
  }
  .foreign-exchange-rate .rate.card .card-body .border-lg-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.header {
  position: relative;
}
.header .title {
  position: absolute;
  left: 10%;
  top: 35%;
  color: #fff;
  font-weight: 300;
  font-size: 4vw;
  width: 40%;
}
.header .scroll-down {
  position: absolute;
  top: 40%;
  right: -120px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}
.header .scroll-down a {
  text-decoration: none;
  color: #fff;
}
.header .loan-header {
  position: absolute;
  left: 10%;
  top: 30%;
}
.header .loan-header .loan-title {
  color: #fff;
  font-weight: 300;
  font-size: 4vw;
}
.header .loan-header .btn {
  line-height: 2.6;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header .loan-header .btn-warning {
  border: 6px solid #fff;
  font-size: 13px;
  font-weight: 700;
}
.header .loan-header .btn-warning:focus {
  border: 6px solid #fff;
}
.header .loan-header input {
  padding-left: 3rem;
  min-width: 350px;
}
.header .loan-header select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 200px;
}
.header .loan-header .form-control {
  height: 60px !important;
  border-color: #fff !important;
  background-color: #fff !important;
}
.header .loan-header .icon {
  position: absolute;
  padding: 1rem;
  z-index: 5;
  font-size: 19px;
  color: #ccc;
}
@media (max-width: 991px) {
  .header .loan-header {
    top: 35%;
  }
}

.header .careers-header {
  position: absolute;
  left: 10%;
  top: 30%;
}
.header .careers-header .careers-title {
  color: #fff;
  font-weight: 300;
  font-size: 4vw;
}
.header .careers-header .btn {
  line-height: 2.6;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header .careers-header .btn-warning {
  border: 6px solid #fff;
  font-size: 13px;
  font-weight: 700;
}
.header .careers-header .btn-warning:focus {
  border: 6px solid #fff;
}
.header .careers-header input {
  padding-left: 3rem;
  min-width: 500px;
}
.header .careers-header .form-control {
  height: 60px !important;
  border-color: #fff !important;
  background-color: #fff !important;
  border-radius: 0.25rem;
}
.header .careers-header .icon {
  position: absolute;
  padding: 1rem;
  z-index: 5;
  font-size: 19px;
  color: #ccc;
}
@media (max-width: 991px) {
  .header .careers-header {
    top: 35%;
  }
}

.find-us.card {
  background-color: #fec24b;
  width: 450px;
  margin-top: -50px;
}
.find-us .card-body {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.find-us .card-body i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 32px;
}

@media (max-width: 991px) {
  .find-us.card {
    width: 100%;
    margin: 0;
  }
}
.recursive .table-recursive td {
  padding: 1.5rem;
  font-size: 15px;
}
.recursive .table-recursive td:first-child {
  color: #777;
}
.recursive .card.template .card-body .card-title {
  font-size: 16px;
}
.recursive .card.template .card-body .card-text p {
  margin-bottom: 0.5rem;
}
.recursive .card.template .card-about-img {
  padding: 1.15rem 1rem 1.15rem 1.15rem;
}
.recursive .card.template .card-about-desc {
  padding: 1.15rem 1.15rem 1.15rem 1rem;
}
@media (max-width: 577px) {
  .recursive .card.template .card-about-img {
    padding: 1rem 0.5rem 1rem 1rem;
  }
  .recursive .card.template .card-about-desc {
    padding: 1rem 1rem 1rem 0.5rem;
  }
}
.recursive .card.shadow {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.recursive .card.shadow .card-body {
  padding: 2rem;
}

.about-us .form-control {
  width: auto;
}

.deposits .btn-warning {
  font-size: 18px;
  font-weight: 700;
  padding: 0.75rem;
}
.deposits .form-control {
  padding: 0.75rem;
}

.contact-us .btn-success, .contact-us .btn-warning, .contact-us .btn-light {
  font-size: 16px;
  font-weight: 700;
  padding: 0.75rem 3rem;
}
.contact-us input.form-control, .contact-us select.form-control {
  padding: 0.75rem;
  height: 50px !important;
}

.loans .btn-success, .loans .btn-warning, .loans .btn-light, .application .btn-success, .application .btn-warning, .application .btn-light {
  font-size: 16px;
  font-weight: 700;
  padding: 0.75rem 3rem;
}
.loans .form-control, .application .form-control {
  padding: 0.75rem;
  height: 50px !important;
}
.loans .nav-pills .nav-item, .application .nav-pills .nav-item {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.loans .nav-pills .nav-item:last-child, .application .nav-pills .nav-item:last-child {
  border-right: 0;
}
.loans .nav-pills .nav-item .nav-link, .application .nav-pills .nav-item .nav-link {
  margin: 0.65rem 0;
  font-size: 17px !important;
  color: #193136 !important;
  font-weight: 700;
}
.loans .nav-pills .nav-item .nav-link.active, .application .nav-pills .nav-item .nav-link.active {
  border-radius: 0;
  border: 0 !important;
  background-color: #fff;
  color: #04b250 !important;
}
.loans .nav-pills .nav-item .nav-link:hover, .application .nav-pills .nav-item .nav-link:hover {
  color: #04b250 !important;
}
@media (max-width: 767px) {
  .loans .nav-pills .nav-item, .application .nav-pills .nav-item {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .loans .nav-pills .nav-item:last-child, .application .nav-pills .nav-item:last-child {
    border-bottom: 0;
  }
}
.loans .tab-content .title, .application .tab-content .title {
  font-size: 36px;
}
.loans .tab-content .subtitle, .application .tab-content .subtitle {
  color: #777;
}
.loans .btn-file, .application .btn-file {
  border: 1px solid #bbb;
  background: linear-gradient(to bottom, #fff 20%, #f1f1f1 100%);
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
}
.loans .btn-file i, .application .btn-file i {
  color: #ccc;
}
.loans .img-container, .application .img-container {
  position: relative;
  border: 2px dashed #ddd;
}
.loans .img-container .btn-upload, .application .img-container .btn-upload {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loans .img-container .btn-upload .btn-file-upload, .application .img-container .btn-upload .btn-file-upload {
  position: relative;
  overflow: hidden;
}
.loans .img-container .btn-upload .btn-file-upload input[type=file], .application .img-container .btn-upload .btn-file-upload input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: pointer;
  display: block;
}

.e-banking .btn-warning {
  font-size: 18px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}
.e-banking .btn-warning i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  vertical-align: middle;
}

.trust-banking .card .pagination-1 .form-control {
  padding: 0.4rem 0.5rem;
  height: auto !important;
  width: 100px;
}
.trust-banking .card .pagination-1 .btn {
  padding: 0.4rem 1rem;
}
.trust-banking .btn-success, .trust-banking .btn-warning, .trust-banking .btn-light {
  font-size: 16px;
  font-weight: 700;
  padding: 0.75rem 3rem;
}
.trust-banking .form-control {
  padding: 0.75rem;
  height: 50px !important;
}

.corporate-governance .card .title {
  font-size: 14px;
}
.corporate-governance .card .subtitle {
  font-size: 14px;
  color: #777;
  font-weight: 700;
}
.corporate-governance .card:first-child {
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.corporate-governance .card:last-child {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.corporate-governance .card .card-header .card-link[aria-expanded=false]:after {
  font-family: "Font Awesome 5 Free";
  content: "\F067";
  display: inline;
  float: right;
  color: #fec24b;
}
.corporate-governance .card .card-header .card-link[aria-expanded=true]:after {
  font-family: "Font Awesome 5 Free";
  content: "\F068";
  display: inline;
  float: right;

}
.corporate-governance .card .card-body {
  font-size: 13px;
}
.corporate-governance #accordion1 .card .card-header {
  background-color: rgba(117, 218, 27, 0.05);
}
.corporate-governance #accordion1 .card .card-header .card-link:after {
  color: #fec24b;
}
.corporate-governance #accordion1 .card .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.corporate-governance #accordion1 .card:last-child .card-body {
  border-bottom: 0;
}

.survey .btn-success, .survey .btn-warning, .survey .btn-light {
  font-size: 16px;
  font-weight: 700;
  padding: 0.75rem 3rem;
}
.survey .form-control {
  padding: 0.75rem;
  height: 50px !important;
}
.survey .subtitle {
  color: #777;
}
.survey .title, .survey .subtitle {
  font-size: 15px;
}
.survey label {
  color: #888;
}

.search a {
  font-size: 14px;
}
.search .btn {
  line-height: 2.6;
  padding-left: 2rem;
  padding-right: 2rem;
}
.search .btn-warning {
  border: 6px solid #f6f6f6;
  font-size: 13px;
  font-weight: 700;
}
.search .btn-warning:focus {
  border: 6px solid #f6f6f6;
}
.search input {
  padding-left: 3rem;
  background-color: #f6f6f6;
}
.search .form-control {
  height: 60px !important;
  border-color: #f6f6f6 !important;
}
.search .icon {
  position: absolute;
  padding: 1rem;
  z-index: 5;
  font-size: 19px;
  color: #ccc;
}

.cd-timeline {
  margin: 2em auto;
}
.cd-timeline .img {
  padding-right: 3rem;
}
.cd-timeline .desc {
  padding-left: 3rem;
}
@media (max-width: 991px) {
  .cd-timeline .img {
    padding-left: 4rem;
    padding-right: 15px;
  }
  .cd-timeline .desc {
    padding-left: 4rem;
  }
}
.cd-timeline .cd-timeline__content .title {
  color: #888;
}

.cd-timeline__container {
  position: relative;
  margin: 0 auto;
}
.cd-timeline__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #fec24b;
}

@media only screen and (min-width: 992px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline__block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline__block:first-child {
  margin-top: 0;
}
.cd-timeline__block:last-child {
  margin-bottom: 0;
}

.cd-timeline__dot {
  position: absolute;
  top: 0;
  left: 7px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fec24b;
}

@media only screen and (min-width: 992px) {
  .cd-timeline__dot {
    width: 25px;
    height: 25px;
    left: 50%;
    margin-left: -13.5px;
  }
}
.cd-timeline__img img {
  border-radius: 10px;
}

.mission .card, .vision .card {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.mission .card .card-header .title, .vision .card .card-header .title {
  font-weight: 700;
}
.mission .card .card-body, .vision .card .card-body {
  font-weight: 16px;
  color: #777;
}
.mission .card .card-body .card-title, .vision .card .card-body .card-title {
  color: #555;
  font-weight: 700;
  font-size: 18px;
}
.mission .card .card-body .fas, .vision .card .card-body .fas {
  font-size: 36px;
  color: #eee;
}

.foreign-exchange .card, .pick-up-locator .card {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.foreign-exchange .card .card-body .title, .pick-up-locator .card .card-body .title {
  font-weight: 700;
}
.foreign-exchange .card .card-body .subtitle, .pick-up-locator .card .card-body .subtitle {
  color: #888;
  font-weight: 400;
  font-size: 12px;
}

.pick-up-locator .form-control, .find-us1 .form-control {
  padding: 0.75rem;
  height: 50px !important;
}
.pick-up-locator .btn-warning, .find-us1 .btn-warning {
  font-size: 16px;
  font-weight: 700;
  padding: 0.75rem 3rem;
}

.find-us1 .hr-sect {
  display: flex;
  align-items: center;
  color: #777;
  font-size: 16px;
  font-weight: 400;
}
.find-us1 .hr-sect span {
  margin-top: -3px;
}
.find-us1 .hr-sect:before, .find-us1 .hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
}
.find-us1 .hr-sect:before {
  margin-right: 1rem;
}
.find-us1 .hr-sect:after {
  margin-left: 1rem;
}

.cta .card {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.cta .card .card-header {
  min-height: 79px;
}
.cta .card .card-header .title {
  font-size: 16px;
}
.cta .card .card-body {
  min-height: 185px;
}

.related-links .card, .cards1 .card, .e-banking2 .card, .awards1 .card {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.related-links .card .card-body .body, .cards1 .card .card-body .body, .e-banking2 .card .card-body .body, .awards1 .card .card-body .body {
  font-size: 15px;
}
.related-links .card .card-body .body i, .cards1 .card .card-body .body i, .e-banking2 .card .card-body .body i, .awards1 .card .card-body .body i {
  color: #ddd;
}

.notification.modal .modal-dialog .success .icon i {
  font-size: 100px !important;
}
.notification.modal .modal-dialog .success .btn {
  padding: 1.25rem 1.5rem;
  font-size: 18px;
}
.notification.modal .modal-dialog .success .btn i {
  color: rgba(255, 255, 255, 0.5);
}
.notification.modal .modal-dialog .success .title {
  font-size: 60px !important;
}

.sitemap .accordion1 .card .card-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.sitemap .accordion1 .card .card-subtitle {
  font-size: 16px;
  color: #333;
}
.sitemap .accordion1 .card .card-header .card-expanded[aria-expanded=false]:after {
  font-family: "Font Awesome 5 Free";
  content: "\F067";
  display: inline;
  float: right;
  font-weight: 700;
  color: #777;
}
.sitemap .accordion1 .card .card-header .card-expanded[aria-expanded=true]:after {
  font-family: "Font Awesome 5 Free";
  content: "\F068";
  display: inline;
  float: right;
  font-weight: 700;
  color: #fec24b;
}
.sitemap .accordion1 .card i {
  color: rgba(0, 0, 0, 0.2);
}
.sitemap .accordion1 .accordion-1 .card .card-header {
  background-color: rgba(0, 0, 0, 0.025);
  padding-left: 3rem;
}
.sitemap .accordion1 .accordion-1 .card .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.sitemap .accordion1 .accordion-1 .card:last-child .card-body {
  border-bottom: 0;
}
.sitemap .accordion1 .accordion-2 .card {
  border: 0;
}
.sitemap .accordion1 .accordion-2 .card .card-header {
  background-color: rgba(0, 0, 0, 0.045);
  border: 0;
  padding-left: 5rem;
}
.sitemap .accordion1 .accordion-2 .card .card-body {
  border: 0;
}
.sitemap .accordion1 .accordion-3 .card {
  border: 0;
}
.sitemap .accordion1 .accordion-3 .card .card-header {
  background-color: rgba(0, 0, 0, 0.065);
  border: 0;
  padding-left: 7rem;
}
.sitemap .accordion1 .accordion-3 .card .card-body {
  border: 0;
}

.modal-open {
  overflow-y: scroll;
  width: 100%;
  padding-right: 0 !important;
}

#search .modal-content {
  border-radius: 0;
  padding: 15px;
}
#search .modal-content .modal-title {
  color: #193136;
  font-size: 28px;
  font-weight: 700;
}
#search .modal-content .modal-body .btn {
  font-size: 16px;
  padding: 12px 50px;
}
#search .modal-content .modal-body .form-control {
  background-color: #fff;
  padding: 0.75rem;
  height: 50px !important;
}
#search .modal-content .modal-body .form-control:focus {
  box-shadow: none;
}
#search .modal-content .close {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 36px;
  color: #193136;
}

footer {
  box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.035);
}
footer .title {
  color: #193136;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
footer .body {
  color: #888;
  font-size: 14px;
  font-weight: 300;
}
footer .body a {
  color: #888;
  font-size: 14px;
  text-decoration: none;
}
footer .body i {
  vertical-align: middle;
  font-size: 20px;
}
footer .dropdown .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #ccc;
}
footer .dropdown .dropdown-menu .dropdown-item:hover, footer .dropdown .dropdown-menu .dropdown-item:after, footer .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #fff;
  color: #04b250;
}
footer .dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: 0;
}
footer .dropdown .dropdown-toggle:after {
  margin-left: 0.5rem;
  font-family: "FontAwesome";
  content: "\F107";
  border: 0;
  vertical-align: middle;
  font-size: 16px;
}